.header{
  display:flex;
  position:fixed;
  top:0px;
  left:0px;
  right:0px;
  height:55px;
  justify-content: space-between;

  border-bottom:1px solid rgb(228, 228, 228) ;
}

.left-sidebar{
  display:flex;
  width:150px;
  align-items: center;
}

.hamburger{
  height:24px;
  margin-left: 24px;
  margin-right: 24px;
}

.youtube-icon{
  height:20px;
}

.middle-sidebar{
  display:flex;
  flex:1;
  margin-left:70px;
  margin-right:35px;
  max-width:500px;
  align-items: center;
}

.search-bar{
  height:35px;
  padding-left: 10px;
  font-size: 16px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(192, 192, 192);
  border-radius: 2px;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
  width: 0;
  flex:1;
}

.search-bar::placeholder{
  font-size: 16px;
}

.search-icon{
  height: 39px;
  width: 66px;
  background-color: rgb(240, 240, 240);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(192, 192, 192);
  margin-left: -1px;
  margin-right: 10px;
}

.search-img{
  height:25px;
  margin-top: 4px;
}

.mic{
  height:39px;
  width:39px;
  border:none;
  border-radius: 24px;
}

.mic-img{
  height:24px;
  margin-top: 4px;
}


.right-sidebar{
  display:flex;
  width:200px;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
}

.upload-icon{
  height:25px;
}

.apps{
  height:25px;
}

.not-icon{
  position: relative;
}

.n-icon{
  height:25px;
  
}

.n-no{
  position: absolute;
  color:white;
  background-color: rgb(200, 0, 0);
  border-radius: 12px;
  font-size: 11px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  top: -5px;
  right: -2px;

}


.dp-icon{
  height:30px;
}

